{
  "extends": "standard",
  "plugins": [
      "standard",
      "promise"
  ],
  "parserOptions": {
    "ecmaScript": 6,
    "sourceType": 'script'
  },
  "env": {
    "mocha": true
  },
  "globals": {
    "chai": false,
    "sinon": false,
    "expect": false,
    "mongoose": false,
    "PORT": false,
    "URL": false
  },
  "rules": {
    "semi": [2, "always"],
    "no-return-assign": 0
  }
}
